<div class="row">
  <div class="col-md-12"
       ba-panel
       ba-panel-title="Danh sách cửa hàng"
       ba-panel-class="with-scroll">
    
      <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="themcuahang()">Thêm cửa hàng</button>
      </div>
      <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:15%">Địa phương</td>
      <td style="width:20%">Tên cửa hàng</td>
      <td style="width:20%">Chủ cửa hàng</td>
      <td style="width:15%">Số phone</td>
      <td style="width:10%">Trạng thái</td>
      <td style="width:10%">Thao tác</td>
    </tr>
    <tr ng-repeat="cuahang in danhsachcuahang">
      <td>
        <!-- editable status (select-local) -->
        <span>
          {{ cuahang.diaphuong.label }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span>
          {{ cuahang.tencuahang }}
        </span>
      </td>
      <td>
        <!-- editable Soluong (select-remote) -->
        <span>
          {{ cuahang.chucuahang }}
        </span>
      </td>
      <td>
        <!-- editable Soluong (select-remote) -->
        <span>
          {{ cuahang.sdt }}
        </span>
      </td>
      <td>
        <!-- editable Gia (text with validation) -->
        <span>
          {{ cuahang.trangthai.text }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <div class="buttons">
          <button class="btn btn-primary editable-table-button btn-xs" ng-click="chitietSanpham(cuahang._id)">sửa</button>
        </div>  
      </td>
    </tr>
  </table>
     
  </div>
</div>